<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Сайт чата домов 13.х в ЖК Люблинский парк, по адресу Москва, Иловайская, 2.">

    <title>Иловайская, 2</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<header>
    <h1>Иловайская, 2</h1>
    <p>Просто сайт чата дома. Ниже вы найдете правила чата, ссылки на дружественные ему ресурсы, прочие полезные штуки.</p>
</header>
<section id="main">
    <h2>Главное</h2>

    <p>Наш чат создан собственниками для собственников. Это не бизнес-проект, здесь нет продажи ваших персональных данных, рекламы, аккаунтов-ботов и прочих штук, которые создают проблемы в общении. У нас разрешено постить картинки и видео, делиться ссылками, делать скриншоты чата, пересылать сообщения из чата и наоборот в чат.</p>
    <p>Адрес нашего дома: <a target="_blank" href="https://yandex.ru/maps/-/CHaamAKq">109651, Российская Федерация, город Москва, внутригородская территория муниципальный округ Люблино, Иловайская улица, дом 2</a>.</p>
    <p>В нашем доме 4 подъезда. Когда дом только строился, на плане проекта ЖК это были соответственно такие корпуса: 13.1, 13.2, 13.3 и 13.4. Возможно, вам больше знакомы такие названия вашего дома (подъезда).</p>
</section>
<section id="resources">
    <h2>Наши чаты</h2>

    <ul>
        <li>
            <a target="_blank" href="https://t.me/+tB-64km21Yc1YTJi">Основной чат</a>.<br>
            Заходите, здесь тепло и уютно. Чат посвящен всему дому, в нем есть "темы" (разделы) про каждый подъезд, парковку, кладовые, правовые вопросы и прочее.
        </li>
        <li>
            <a target="_blank" href="https://t.me/+eovxxq6B4fE1Y2Zi">Чат про наше ОСС</a>, общедомовое собрание собственников.<br>
            Здесь мы обсуждаем, как лучше организоваться для общения с УК, какие вопросы нас интересуют на общедомовых голосованиях и тому подобные вещи.
        </li>
        <li>
            <a target="_blank" href="https://t.me/+n0-47LuS1l04MTky">Чат про наш подземный паркинг</a>.<br>
            Обсуждаем проблемы паркинга, помогаем друг другу с автомобилями, обсуждаем цены на аренду машиномест.
        </li>
    </ul>

    <p><b>Важно!</b> Во всех наших чатах действует верификация жильцов ради безопасного и комфортного общения. После заявки на вступление в течение суток или около того с вами свяжутся и расскажут все подробности.</p>
</section>
<section id="rules">
    <h2>Правила наших чатов</h2>

    <h3>❗Правила для администратора❗</h3>
    <p><b>Главное правило.</b> Админ должен быть ленив. Админ лениво озирается по сторонам, лениво оценивает действия участников, лениво принимает решения. Торопиться некуда, впереди вся жизнь. Поспешность ведет к ошибкам. Ошибки заставляют грустить участников.</p>

    <h3>❗Правила для участников❗</h3>
    <p><b>Главное правило.</b> Участник не должен лениться. Участник не ленится оценивать мнение соседей, участник не ленится понимать просьбы админа, участник не ленится читать правила чата. Участник не ленится делать чат вокруг комфортным не только для себя, но и для остальных участников. Лень ведет к ухудшению чата вокруг участника. Лень заставляет админов применять главное правило.</p>

    <p><b>Подробнее про общий комфорт общения:</b></p>
    <ul>
        <li>Как уже было сказано выше, в чате есть темы, посвященные ремонту, правовым вопросам, каждому подъезду и так далее. При общении старайтесь соблюдать тему, если это возможно. Если подходящей тематики не нашлось, скорее всего вам стоит написать в "Оффтоп".</li>
        <li>Тема "Оффтоп" – не место для очередной смешной картинки, которая вам понравилась в интернете. Это место для сообщений по большей части про тематику чата, которым не нашлось более подходящего места в нем.</li>
        <li>Для уведомления всех участников чата о событии, которое вам кажется исключительно важным, все равно нужно использовать только одну из тем.</li>
        <li>Не допускается оскорбление как участников чата, так и обсуждаемых участниками иных лиц. Использование в любом виде грубых и нецензурных слов, их производных и выражений. Бывает, когда резкое выражение к месту, но старайтесь избегать этого.</li>
        <li>Необходимо воздержаться от словесных нападок, голословных обвинений, оценок личностных качеств соседей и выяснения отношений в данном чате. Чат создан для добрососедских обсуждений. Для обсуждения частных конфликтных ситуаций участникам необходимо перейти в личные сообщения или в реальность. Но не забывайте, что там тоже есть свои правила, они описаны в УК РФ.
        </li>
        <li>Никто не будет против, если вы спросите у соседей по дому или подъезду, как их дела. Но не стоит превращать общий чат в личный.</li>
        <li>Однозначно недопустимые темы для обсуждений: политика, религия и прочие "холиварные" темы.</li>
        <li>Однозначно недопустимо нарушение любых законов РФ, какими бы глупыми они вам не казались.</li>
    </ul>

    <p><b>Санкции:</b></p>
    <p>
        За нарушение правил чата: временный перевод в "только для чтения".<br>
        За неоднократные нарушения: бессрочный перевод в "только для чтения".<br>
        Удаление участника из чата – вынужденная и экстраординарная мера, но ее тоже можно добиться. Например, не являться нашим реальным соседом.
    </p>
</section>
<section id="friends">
    <h2>Дружественные ресурсы</h2>

    <ul>
        <li>
            <a target="_blank" href="https://t.me/lyublinskij_park">Общий чат ЖК "Люблинский парк"</a>.<br>
            Здесь общаются жители всего ЖК, есть свои отдельные подчаты про почти все, что можно обсудить с соседями. Проект социальный, в нем нет рекламы, есть правила и модерация. В чате есть несколько ботов, упрощающих жизнь пользователей, главный из них умеет по ключевым словам в сообщении подсказать вам нужную ссылку или контакт в ЖК.
        </li>
        <li>
            <a target="_blank" href="https://t.me/GoodOk_LP">Новостной канал ЖК "Люблинский парк"</a>.<br>
            Без преуменьшения, лучший новостной канал про наш ЖК. Единственный, который делает авторский контент, публикуя новости с полей. Здесь вы найдете новости об открывающихся в ЖК магазинах, увидите эксклюзивные фото строительства ЖК, узнаете другие полезные вещи. Команда канала проводит викторины, сама при этом состоя из реальных жильцов ЖК. На канале есть реклама, помогающая ему вести свою деятельность, но вся она связана непосредственно с нашим районом и публикуется строго в соответствии с законодательством РФ.
        </li>
    </ul>
</section>
<section id="other">
    <h2>Полезные штуки</h2>

    <ul>
        <li>
            <a target="_blank" href="https://www.pik.ru/lublinpark">Наш ЖК на ПИК.ру</a>
        </li>
        <li>
            <a target="_blank" href="https://pik-comfort.ru/">ПИК-Комфорт</a>
        </li>
    </ul>
</section>
<footer style="text-align: right">
    <a href="#">Вернуться наверх ⬆</a>
</footer>
</body>
</html>
