<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Иловайская, 2</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<header>
    <h1>Иловайская, 2</h1>
    <p>Просто сайт чата дома. Ниже вы найдете правила чата, ссылки на дружественные ему ресурсы, прочие полезные штуки.</p>
<p>Официальный адрес нашего дома: <a target="_blank" href="https://yandex.ru/maps/213/moscow/house/ilovayskaya_ulitsa_2/Z04YcQVlSUMCQFtvfXp0dnRjbQ==/?ll=37.725881%2C55.657936&z=17.97">109651, Российская Федерация, город Москва, внутригородская территория муниципальный округ Люблино, Иловайская улица, дом 2</a>.</p>
    <p>В нашем доме 4 подъезда. Когда дом только строился, на плане проекта ЖК это были соответственно такие корпуса: 13.1, 13.2, 13.3 и 13.4. Возможно, вам больше знакомы такие названия вашего дома (подъезда).</p>
</header>
<section>
    <h2>Главное</h2>

    <ul>
        <li>
            <a target="_blank" href="https://t.me/+tB-64km21Yc1YTJi">Ссылка на основной чат</a>.<br>
            Заходите, здесь тепло и уютно. Чат посвящен всему дому, в нем есть "темы" (разделы) про каждый подъезд, про парковку, кладовые, правовые вопросы и прочее.
        </li>
        <li>
            <a target="_blank" href="https://t.me/+eovxxq6B4fE1Y2Zi">Чат про наше ОСС</a> – общедомовое собрание собственников.<br>
            Здесь мы обсуждаем, как лучше организоваться для общения с УК, какие вопросы нас интересуют на общедомовых голосованиях, и тому подобные вопросы.
        </li>
        <li>
            <a target="_blank" href="https://t.me/+n0-47LuS1l04MTky">Чат про наш подземный паркинг</a>.<br>
            Обсуждаем проблемы паркинга, помогаем друг другу с автомобилями, организуем картельный сговор по сдаче в аренду машиномест.
        </li>
    </ul>

    <p>Важно! Во всех наших чатах действует верификация жильцов ради безопасного и комфортного общения. После заявки на вступление с вами свяжутся и расскажут все подробности.</p>
</section>
<section>
    <h2>Правила чата</h2>

    <h3>❗Правила для администратора❗</h3>
    <p><b>Главное правило.</b> Админ должен быть ленив. Админ лениво озирается по сторонам, лениво оценивает действия участников, лениво принимает решения. Торопиться некуда, впереди вся жизнь. Поспешность ведет к ошибкам. Ошибки заставляют грустить участников.</p>

    <h3>❗Правила для участников❗</h3>
    <p><b>Главное правило.</b> Участник не должен лениться. Участник не ленится оценивать мнение соседей, участник не ленится понимать просьбы админа, участник не ленится читать правила чата. Участник не ленится делать чат вокруг комфортным не только для себя, но и для остальных участников. Лень ведет к ухудшению чата вокруг участника. Лень заставляет админов применять первое и главное правило.</p>
</section>
<section>
    <h2>Дружественные ресурсы</h2>

    <ul>
        <li>
            <a target="_blank" href="https://t.me/lyublinskij_park">Общий чат ЖК "Люблинский парк"</a>.<br>
            Здесь общаются жители всего ЖК, есть свои отдельные подчаты про почти все, что можно обсудить про наш ЖК. Проект социальный, в нем нет рекламы, есть правила и модерация. В чате есть несколько ботов, упрощающих жизнь пользователей, главный из них умеет по ключевым словам в сообщении подсказать вам нужную ссылку или контакт в ЖК.
        </li>
        <li>
            <a target="_blank" href="https://t.me/GoodOk_LP">Новостной канал ЖК "Люблинский парк"</a>.<br>
            Без преуменьшения, лучший новостной канал про наш ЖК. Единственный, который делает авторский контент, публикуя новости с полей. Здесь вы найдете новости об открывающихся в ЖК магазинах, увидите эксклюзивные фото строительства ЖК, узнаете другие полезные вещи. Команда канала проводит викторины, сама при этом являясь реальными соседями по ЖК. На канале есть реклама, помогающая ему вести свою деятельность, но все она связана с непосредственно нашим районом и публикуется строго в соответствии с законодательством РФ.
        </li>
    </ul>
</section>
<section>
    <h2>Полезные штуки</h2>

    <p>Здесь пока пусто.</p>
</section>
<footer style="text-align: right">
    <a href="#">Вернуться наверх ⬆</a>
</footer>
</body>
</html>
