#timer {
  & > div {
    margin-top: 42px;
    white-space: nowrap;

    --font-size-mobile: 54px;
  }
}

.timer-element {
  & > span {
    &:nth-of-type(1) {
      color: var(--text-main) !important;

      @media (max-width: 500px) {
        font-size: var(--font-size-mobile) !important;
      }
    }
  }
}

.timer-separator {
  color: var(--text-main) !important;

  @media (max-width: 500px) {
    font-size: var(--font-size-mobile) !important;
  }
}
